bertopic
fastapi
uvicorn[standard]
google-api-python-client>=2.190.0
google-cloud-firestore
google-cloud-storage
google-cloud-secret-manager
numpy>=1.26,<3
openai
pandas>=2.2,<3
pytrends
python-dotenv>=1.0,<2
requests>=2.31,<3
scikit-learn
tqdm
xgboost
torch
torchvision
transformers
sentence-transformers
git+https://github.com/openai/CLIP.git
Pillow
ftfy
regex